.container {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  padding: 16px;
}

.titlehero {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 36px;
}

.parts {
  display: flex;
  justify-content: space-between;
}

.parts div {
  flex: 1 1 50%;
}

.button {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: white;
  width: 140px;
  height: 30px;
  border: 1px solid black;
  position: relative;
  margin-bottom: 16px;
  color: inherit;
  font-family: inherit;
}
