.forms {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 16px;
	width: 100%;
}

.ulitems {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: rgb(252, 252, 191);
	padding: 16px;
}
