.pagination{
	display: flex;
	justify-content: center;
	align-items:center;
	gap:16px;
}
.link{
	color: rgb(73, 106, 7);
	font-weight: 700;
	font-size: 22px;
	text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}
