@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
}

#root {
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-image: url("assets/sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
